footer {
  background-color: $color-secondary;
  grid-column: 2/-1;
  color: $color-grey-light-1;
  padding: 8rem;
}
.footer__text {
  color: $color-grey-light-2;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  // grid-template-rows: 5vw;
  gap: 2rem;
  align-items: center;
  margin-bottom: 2rem;
  &__item {
  }
  &__link:link,
  &__link:visited {
    font-size: 1.6rem;
    font-family: $font-display;
    text-transform: uppercase;
    color: currentColor;
    text-decoration: none;
    display: block;
    text-align: center;

    padding: 1.5rem;
    transition: all 0.2s;
  }
  &__link:hover {
    transform: translateY(-1rem);
    background: rgba($color: #fff, $alpha: 0.1);
  }
}
